<?xml version="1.0"?>
<model>
  <name>argos</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Trevor Slack</name>
    <email>trevorpslack@gmail.com</email>
  </author>

  <description>
    ARGOS Fire Tracking rover for CU Boulder Senior Projects
    Customer is JPL
  </description>
</model>
